.App {
  text-align: left;
  padding: 20px;
}

.App-logo {
  color: #1976d2;
  font-weight: bold;
  font-size: 50px;
  text-align: left;
  margin: 20px 0;
}

.results {
  margin: 5% 0 1% 0;
  color: #1976d2;
  font-size: 20px;
  padding-bottom: 1%;
  border-bottom: 1px solid #1976d2;
}

ul.list{
  margin: 20px;
}

.list{
    max-height: 1000px;
    overflow: scroll;
    padding-left: 10%;
}